# EMAIL
EMAIL_HOST =
EMAIL_PORT =
EMAIL_USER =
EMAIL_PASS =
ADMIN_EMAIL =

#DATABASE

#COMPANY_INFORMATION
COMPANY_NAME = 
COMPANY_PHONE = 
COMPANY_EMAIL = 
YEAR =
COMPANY_ADDRESS = 

#MAIN CONFIGURATION
BOOKING_CONFIRM_URL = 